.particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00356B;

}


.container {
    position: absolute;
    /*    top: 29%;*/
    right: 50%;
    top: 27px;
    transform: translate(50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    max-width: 83%;
    padding: 2em 3em;

}

.noscroll {
    overflow: hidden;
}

@media (min-device-width: 1025px) {
    /* not strictly necessary, just an experiment for
       this specific example and couldn't be necessary
       at all on some browser */
    .noscroll {
        padding-right: 15px;
    }
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-secondary {
    margin-bottom: 3px;
}

.alert > alert-danger > alter-dismissable > fade > show {
    margin-top: 50px;
    position: relative;
}

.alert {
    z-index: 9999;
    margin-top: 50px;
}

tr.buy {
    background-color: #16B900 !important;
}

tr.buy :hover {
    background-color: #129300 !important;
}

tr.sell {
    background-color: #B9001C !important;
}

tr.sell :hover {
    background-color: #8D0015 !important;
}


/* Loading page css */
div#content {
    display: none;
}

div#loading {
    top: 200px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background-color: #B9001C;
    cursor: wait;
}