{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
    Home page
    <table>
        <tr>
            <td>
                $
            </td>
            <td>
                Coin
            </td>
            <td>
                Price
            </td>
        </tr>
        {% for i in prices %}
            <tr>
                <td>

                </td>
                <td>
                    {% print i %}
                </td>
                <td>
                    {% print prices[i]['usd'] %}
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}