{% extends "base.html" %}
{% block title %} Portfolio page {% endblock %}
{% block content %}
    {# TODO : Make a JS script to load on a website load #}
    {# TODO : Create a CSS file only for this website #}
    <script>
        document.getElementById("current_portfolio").style.display = "none";
        document.getElementById("orders_history").style.display = "none";
        document.getElementById("tbc").style.display = "none";

        function display_portfolio() {
            document.getElementById("current_portfolio").style.display = "block";
            document.getElementById("orders_history").style.display = "none";
            document.getElementById("tbc").style.display = "none";
        }

        function display_history() {
            document.getElementById("current_portfolio").style.display = "none";
            document.getElementById("orders_history").style.display = "block";
            document.getElementById("tbc").style.display = "none";
        }

        function display_tbc() {
            document.getElementById("current_portfolio").style.display = "none";
            document.getElementById("orders_history").style.display = "none";
            document.getElementById("tbc").style.display = "block";
        }

        window.onload = display_portfolio();
    </script>
    <h1>Portfolio here </h1>
    <button type="button" class="btn btn-secondary" onclick="display_portfolio()">Current portfolio</button>
    <button type="button" class="btn btn-secondary" onclick="display_history()">Orders history</button>
    <button type="button" class="btn btn-secondary" onclick="display_tbc()">Performance</button>
    <section id="current_portfolio">
        <table class="table table-bordered table-dark table-hover">
            <tr>
                <th>
                    $
                </th>
                <th>
                    Coin
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Price in USD
                </th>
                <th>
                    Current value in USD
                </th>
            </tr>
            {% for i in portfolio %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename="pictograms/" + i['asset'] + ".png") }}"
                             width="22" height="22">
                    </td>
                    <td>
                        {{ i['asset'] }}
                    </td>
                    <td>
                        {{ '%0.2f' %( i['free']|float + i['locked']|float) }}
                    </td>
                    <td>
                        {{ '%0.2f' % i['price']|float }}
                    </td>
                    <td>
                        {{ '%0.2f' %((i['free']|float + i['locked']|float) * i['price']|float) }}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </section>
    <section id="orders_history" display="none">
        <table class="table table-bordered table-dark table-hover">
            <tr>
                <th>
                    $
                </th>
                <th>
                    Coin
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Price in USD
                </th>
                <th>
                    Date
                </th>
            </tr>
            {% for x in history %}
                <tr class="{{ x['side'].lower() }}">
                    <td>
                        <img src="{{ url_for('static', filename="pictograms/" + x['symbol'][:-4] + ".png") }}"
                             width="22" height="22">
                    </td>
                    <td>
                        {{ x['symbol'] }}
                    </td>
                    <td>
                        {{ x['executedQty'] }}
                    </td>
                    <td>
                        {{ x['price'] }}
                    </td>
                    <td>
                        {{ x['time'] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <section id="tbc" display="none">
        <embed type="image/svg+xml" src={{ graph_data|safe }} style="max-width:900px;/>
    </section>
    <div id="loading"></div>

{% endblock %}